label[for="red"], label[for="green"], label[for="blue"] {
    margin-right: 35px;
    cursor: pointer;
    border-bottom: 1px solid red;
    opacity: 0.5; 
}

label[for="red"] {
    color: red;
}

label[for="green"] {
    border-color: green;
    color: green;
}

label[for="blue"] {
    border-color: blue;
    color: blue;
}

input[type="checkbox"] { 
    display: none; 
}
  
#red:checked ~ label[for="red"], 
#green:checked ~ label[for="green"],
#blue:checked ~ label[for="blue"] {
    font-weight: bold;
    opacity: 1;
}
  
.red, .green, .blue {
    display: none;
}

#red:checked  ~.red, 
#green:checked  ~.green,
#blue:checked  ~.blue{
    display: inline-block;
    color: white;
    border-radius: 4px;
    padding: 0 6px 1px;
}
  
#red:checked  ~.red { 
    background: red; 
}
  
#green:checked  ~.green { 
    background: green; 
}
  
#blue:checked  ~.blue { 
    background: blue; 
}