body {
    background-color:silver;
}

table {
    border-collapse: collapse; 
    width: 400px;
}

tr {
    height: 50px;
}

td {
    width: 50px;
    border: 5px solid #000; 
    background-color: #fff;
}

.yellow {
    background-color: #Fffa69 ;
}

.black {
    background-color: #000;
}

.orange {
    background-color: #ff5b2d;
}

.blue {
    background-color: #074481 ;
}